.mid{
    background-color: violet;
    display: flex;
    justify-content: center;
}
.bottom{
    background-color: #303030;
    display: flex;
    justify-content: right;
    width: auto;
    height: auto;
}
.logos{
    display: inline-block;
    margin: 10px 20px;
    height: 32px;
    justify-content: space-between;
}

.texts{
    color: white;
}