html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
}

.bottomS{
    background-color: #303030;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 40px;
}

.logosS{
    display: inline-block;
    margin: 10px 20px;
    height: 32px;
    justify-content: space-between;
}

.textsS{
    color: white;
}
