@font-face {
    font-family: 'FontSubTitle'; 
    src: url('../../Fonts/soft_elegance/SoftElegance.ttf');
  }
  
.navbar {
    width: 100%;
    height: 5vh;
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative;
    background: #f6f3ef; /*  #a8d0e2; */
}

#list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#list li {
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
}

#items:link,
#items:visited {
    color: #333;
    text-decoration: none;
    font-family: 'FontSubTitle', sans-serif;
}

#items:hover {
    color: #cb6f2e;
    text-decoration: none;
    background-color: transparent;
}

@media (max-width: 768px) {
    #list {
        flex-direction: column;
        align-items: center;
    }

    #list li {
        margin: 10px 0;
    }

    .navbar {
        height: auto;
    }
}
