@font-face {
  font-family: 'Fonttitle'; /* Nombre de la fuente */
  src: url('../Fonts/itc-avant-garde-gothic-lt-demi.ttf');
}

@font-face {
  font-family: 'FontSubTitle'; 
  src: url('../../Fonts/soft_elegance/SoftElegance.ttf');
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left {
  flex: 1;
  background-color: #8DC6C3 ;/* Cambia el color a tu gusto */
  height: 100vh;
  width: 100vw;
}

/* Lado derecho */
.right {
  flex: 1;
  background-color: #FFF9EC; /* Cambia el color a tu gusto */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Contenedor del formulario */
.form-container {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.form-container h1{
  position: relative;
  top: -10vh;
  left: 8vw;
  font-family: 'Fonttitle';
}

.left img{
  width: 300px;
  height: auto;
  position: relative;
  left: 25%;
  top: 50%
}

/* Estilos del formulario de login */
form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: 'FontSubTitle';
}

form input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  border-radius: none;
  border-bottom: 1px solid #5d9c99; /* Agrega una línea en la parte inferior */
  padding: 5px; /* Espaciado interno para mejorar la apariencia */
  outline: none; /* Elimina el contorno cuando se enfoca */
}

form button {
  padding: 0.75rem;
  border: none;
  background-color: #8DC6C3;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  width: 130px;
  font-family: 'Fonttitle'; 
}

form button:hover {
  background-color: #5d9c99;
}

/* Mensaje de éxito o error */
p {
  margin-top: 1rem;
  color: #ff0000; /* Rojo por defecto para mensaje de error */
}

.Cambio{
  position: absolute;
  top: 5%;
  left: 90%;
  padding: 0.75rem;
  border: none;
  background-color: #8DC6C3;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  font-family: 'Fonttitle';
}


/* Quita la viñeta y aplica estilos personalizados al <li> */
ul {
  padding: 0; /* Quita el padding del <ul> */
  margin: 0;  /* Quita el margin del <ul> */
}

ul li {
  list-style-type: none; /* Quita la viñeta del <li> */
}

/* Estilos para el enlace con el id 'link_r' */
#link_r {
  color: #333;
  text-decoration: none; 
  font-family: 'FontSubTitle';
  display: inline-block; 
  padding: 10px; /* Agrega padding para mejorar el aspecto */
  text-align: center; /* Centra el texto */
}

/* Estilos para el enlace visitado */
#link_r:visited {
  color: #333;
}
